@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #DD571C;
    --clr-main-light: #fda172;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-blue: #251896;
    --clr-red: #962b18;
    --clr-honey: #EC9706;
    --normal-font-size: .938rem;
    --font-medium: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
    

}

aside{
    padding: 2rem;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 1.3rem;
    
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    font-size: 0.85rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    width: 100%;
    
}

.boton-menu.active{
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-radius: 1rem;
    position: relative;
}





.bi-hand-index-thumb-fill,
.bi-hand-index-thumb{
    transform: rotateZ(90deg);
}

.boton-carrito{
    margin-top: 2rem;
}

.numerito{
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.15rem 0.25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito{
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.texto-footer{
    color: var(--clr-main-light);
    font-size: .85rem;
}

main{
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    padding: 3rem;
    border-radius: 2rem;
}

.titulo-principal,
.titulo-principal-mockapi,
.titulo-agregar-mockapi,
.titulo-editar-mockapi{
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos,
.contenedor-productos-mockapi{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
   
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles{
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    
}

.producto-titulo{
    font-size: 1rem;
}

.producto-agregar{
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color 0.2s color .2s;
}

.producto-agregar:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);
}

/* Carrito CSS */

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado{
    color: var(--clr-main);

}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: 0.5rem;
    border-radius: 1rem;
    padding-right: 1.5rem;
}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small{
    font-size: .75rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent ;
    color: var(--clr-blue);
    cursor: pointer;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar{
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha{
    display: flex;
    
    
 
}

.carrito-acciones-total{
    display: flex;
    border: 0;
    gap: 1rem;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: var(--clr-main);
}

.carrito-acciones-comprar{
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
}

.disabled{
    display: none;
}


/* mockapi CSS */
.titulo-agregar-mockapi,
.titulo-editar-mockapi{
    margin-top: 2rem;
}

.form-group{
    color: var(--clr-main);
}

.btn-agregar{
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.btn-agregar:hover{
    background-color: var(--clr-white);
    color:var(--clr-main)
}

.button{
    margin: 2rem;
    display: inline-block;
    background: var(--clr-main);
    color: #fff;
    padding: 14px 28px;
   border-radius: .5rem;
   font-size: var(--normal-font-size);
   font-weight: var(--font-medium);
   box-shadow: 0 4px 8px hsla(228, 66%, 45%, .25);
   transition: .3s;
   cursor: pointer;
  }

  .btn-eliminar{
    background-color: var(--clr-red);
    color: var(--clr-white);
  }

  .btn-eliminar:hover{
    background-color: var(--clr-white);
    color: var(--clr-red);
  }

  .btn-editar{
    background-color: var(--clr-honey);
  }

  .btn-editar:hover{
    background-color: var(--clr-white);
    color: var(--clr-honey);
  }
  

